/* ET stylin' stylesheet on top of Bootstrap */

body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99bbff;
  }

.navbar {
    margin-bottom: 10px;
  }

.jumbotron, .bs-docs-footer {
    background-color: #e6e6e6;
}

.bs-docs-footer {
    border: round;
    padding-top: 10px;
    padding-bottom: 5 px;
    font-size: 11.5px;
}

.panel, .panel-body {
    padding: 10px;
}

.et-blurb {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
} 

.btn, .btn-lg {
    background-color: #1a66ff;
}

a:hover {
    background-color: #66b5ff;
}

.card {
    padding-top: 10px;
    padding-bottom: 15px;
}

.card-text {
    padding: 15px;
}

.card-img-top {
    width:100%;
    height:auto;
}

/* specific bordering for home page */
.et-img-border-home {
    padding: 15px;
}

.et-img-border-home:hover {
    background-color: #66b5ff;
    border: 5px;
}

/* specific bordering for nav bar */
.et-img-border {
    padding: 5px;
}

.et-img-border:hover {
    background-color: #66b5ff;
    border: 5px;
}

.et-img-border-current {
    padding: 5px;
    background-color: #80c1ff;
}

/* media queries */ 
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  }
/* seems like bootstrap classes handled most of the img resizing */