/* ET stylin' stylesheet on top of Bootstrap */

/* This is for navbar css, see if I need to make a specific modded class for this */

body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99bbff;
  }

.navbar {
    margin-bottom: 10px;
  }

.jumbotron, .bs-docs-footer {
    background-color: #e6e6e6;
}

.bs-docs-footer {
    border: round;
    padding-top: 10px;
    padding-bottom: 5 px;
    font-size: 12px;
}

.btn, .btn-lg {
    background-color: #1a66ff;
}

/* needs media queries for the images to line up on one column */